@{
    ViewData["Title"] = "Privacy Policy";
}
<section id="acerca" class="content">
    <h2 class="mb-4">Acerca de este Proyecto</h2>
    <p>Este proyecto es una aplicación web diseñada para facilitar la gestión de perfiles y facturas. Utilizando tecnologías modernas, permite a los usuarios crear perfiles personalizados y asociar facturas a dichos perfiles.</p>

    <p>La aplicación permite:</p>
    <ul
        <li>Usar una base de datos sqlite para portabilidad.</li>
        <li>Crear perfiles de usuario.</li>
        <li>Subir facturas en formato XML, que se procesan y visualizan de manera efectiva.</li>
    </ul>

    <p>Este proyecto fue desarrollado utilizando <strong>.NET</strong>, <strong>JQuery</strong> y <strong>Bootstrap</strong> para construir una interfaz intuitiva y responsiva.</p>
</section>
